<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Travel Bot - I am your personal travel assistant. I will tell you some must-know travel tips for all popular destinations globally. Start chatting with me now sir.</h2>
</body>
</html>
